[submodule "contracts/xdao"]
	path = contracts/xdao
	url = https://github.com/curvefi/curve-xdao.git
[submodule "tests/scrvusd/contracts/scrvusd"]
	path = tests/scrvusd/contracts/scrvusd
	url = https://github.com/curvefi/scrvusd.git
